<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1050525772906-u1j7s0ir7hif7cerc7t4uao75leugorg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050525772906-u1j7s0ir7hif7cerc7t4uao75leugorg</string>
	<key>API_KEY</key>
	<string>AIzaSyAzf5_b5mkukeNdgURoejtqfJF72DSGOKM</string>
	<key>GCM_SENDER_ID</key>
	<string>1050525772906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stells.pap</string>
	<key>PROJECT_ID</key>
	<string>photo-apps-e7b88</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-apps-e7b88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050525772906:ios:813ef82f3b35d83a</string>
	<key>DATABASE_URL</key>
	<string>https://photo-apps-e7b88.firebaseio.com</string>
</dict>
</plist>