<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>348439572952-lh3gpcud5u1jrtth76al9pdgei1r1l9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348439572952-lh3gpcud5u1jrtth76al9pdgei1r1l9d</string>
	<key>API_KEY</key>
	<string>AIzaSyAcS9PC3-GeQFGKDm-uSJmQLXHqaE6GsrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>348439572952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stells.mmc</string>
	<key>PROJECT_ID</key>
	<string>memo-cam</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-cam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348439572952:ios:6eab85b8aee473a2</string>
	<key>DATABASE_URL</key>
	<string>https://memo-cam.firebaseio.com</string>
</dict>
</plist>